{% extends 'base.html.twig' %}
{% block title %}Ajouter une adresse{% endblock %}
{% block body %}
    <section class="container" style="max-width:800px;margin:2rem auto;padding:0 1rem;">
        <h1 class="h4 mb-3">Ajouter une adresse</h1>
        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_row(form.fullName) }}
                {{ form_row(form.line1) }}
                {{ form_row(form.line2) }}
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.postalCode) }}</div>
                    <div class="col-md-8">{{ form_row(form.city) }}</div>
                </div>
                {{ form_row(form.country) }}
                {{ form_row(form.phone) }}
                <button class="btn btn-primary mt-2">Enregistrer</button>
                <a href="{{ path('account_address_index') }}" class="btn btn-outline-secondary mt-2">Annuler</a>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
